pkgbase = noctalia-meta
	pkgdesc = A meta package that depends on several packages for the Noctalia setup.
	pkgver = 1.3
	pkgrel = 1
	url = https://docs.noctalia.dev/docs/
	arch = any
	license = custom:meta
	depends = hyprland
	depends = uwsm
	depends = app2unit
	depends = gnome-system-monitor
	depends = ferdium
	depends = better-control
	depends = ddcutil
	depends = hyprpicker
	depends = eza
	depends = fish
	depends = hyprpicker
	depends = hyprquickframe
	depends = pamac
	depends = wayscriber-bin
	depends = wayscriber-configurator
	depends = i2c-tools
	depends = starship
	depends = ttf-jetbrains-mono-nerd
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-gtk
	depends = adw-gtk-theme
	depends = noctalia-shell
	depends = polkit-gnome
	depends = rofi-rbw
	provides = noctalia-meta

pkgname = noctalia-meta
